### Tugas Praktikum : Multiple Linear Regression dan Support Vector Regression (SVR) dengan Dataset Medical Cost Personal Datasets

#### Instruksi Umum:
1. Anda akan menggunakan dataset "Medical Cost Personal Datasets". Pastikan Anda telah mengunduh dataset ini.
  
2. Gunakan bahasa pemrograman Python dan library yang sesuai seperti NumPy, Pandas, Matplotlib dan Scikit-Learn untuk melakukan analisis regresi dan SVR.

In [1]:
# import package
import numpy as np
import pandas as pd

In [2]:
# baca data
data = pd.read_csv('./dataset/insurance.csv')
data.head() # menampilkan 5 data teratas

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

## Tugas 1: Multiple Linear Regression

1. Identifikasi variabel-variabel yang akan digunakan sebagai variabel bebas (fitur) dan variabel target (biaya medis personal).

``````
Variabel Bebas/Independen :
1. Age (Umur)
2. Sex (Jenis Kelamin)
3. BMI (Indeks Massa Tubuh)
4. Children (Jumlah Anak)
5. Smoker (Perokok)
6. Region (Wilayah)

Variabel Target/Dependen :
1. Charges (Biaya Medis Personal)
``````

2. Bagi dataset menjadi data latih (train) dan data uji (test) dengan proporsi yang sesuai.

In [9]:
from sklearn.model_selection import train_test_split

# Pisahkan fitur (X) dan target (y)
X = data[['age', 'sex', 'bmi', 'children', 'smoker', 'region']]
y = data['charges']

# Tentukan proporsi data uji (misalnya, 80% latih, 20% uji)
test_size = 0.2

# Pisahkan dataset menjadi data latih dan data uji
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=42)

# X_train: Data latih fitur
# X_test: Data uji fitur
# y_train: Data latih target
# y_test: Data uji target

In [10]:
# hasil training dtaset
X_train # menampilkan data X_train
y_train # menampilkan data y_train

560      9193.83850
1285     8534.67180
1142    27117.99378
969      8596.82780
486     12475.35130
           ...
1095     4561.18850
1130     8582.30230
1294    11931.12525
860     46113.51100
1126    10214.63600
Name: charges, Length: 1070, dtype: float64

3. Lakukan feature scaling jika diperlukan

4. Buat model multiple linear regression menggunakan Scikit-Learn.

5. Latih model pada data latih dan lakukan prediksi pada data uji.

6. Evaluasi model dengan menghitung metrik seperti R-squared, MSE, dan MAE. Tampilkan hasil evaluasi.