1. Buatlah model klasifikasi dengan menggunakan SVM untuk data suara, `voice.csv`. 
2. Buatlah model klasfikasi Multinomial Naive Bayes dengan ketentuan,
    1. Menggunakan data `spam.csv`
    2. Fitur `CountVectorizer` dengan mengaktifkan **stop_words**
    3. Evaluasi hasilnya
3. Buatlah model klasfikasi Multinomial Naive Bayes dengan ketentuan,
    1. Menggunakan data `spam.csv`
    2. Fitur `TF-IDF` dengan mengaktifkan **stop_words**
    3. Evaluasi hasilnya dan bandingkan dengan hasil pada Tugas no 2.
    4. Berikan kesimpulan fitur mana yang terbaik pada kasus data `spam.csv`

In [1]:
# 1. Buatlah model klasifikasi dengan menggunakan SVM untuk data suara, `voice.csv`. 

# import library
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split

data = pd.read_csv('voice.csv')
data.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [2]:
x = data.iloc[:, 0:20]
y = data.iloc[:,20]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [3]:
from sklearn.svm import SVC

m = SVC(kernel='linear', C=1)
m = m.fit(x_train,y_train)

In [4]:
y_pred = m.predict(x_test)
y_pred

array(['male', 'male', 'female', 'female', 'female', 'male', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'male', 'female', 'female', 'male', 'female', 'female', 'female',
       'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male',
       'male', 'male', 'female', 'male', 'male', 'female', 'male', 'male',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'female', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'female', 'female', 'male',
       'male', 'female', 'female', 'female', 'female', 'female', 'female',
       'male', 'male', 'female', 'male', 'female', 'female', 'female',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'female', 'female', 'female', 'female',
       'female', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'male', 'male',
       'male', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'female',
       'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'male', 'male', 'male', 'female', 'female',
       'female', 'female', 'female', 'female', 'female', 'male', 'male',
       'male', 'male', 'male', 'female', 'female', 'female', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'male', 'female',
       'male', 'female', 'male', 'male', 'female', 'female', 'female',
       'female', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'female', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'female', 'male', 'male', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'female', 'male',
       'female', 'female', 'male', 'female', 'male', 'male', 'male',
       'female', 'male', 'female', 'female', 'female', 'female', 'female',
       'male', 'female', 'male', 'male', 'female', 'male', 'female',
       'male', 'male', 'female', 'female', 'male', 'female', 'female',
       'male', 'female', 'female', 'male', 'female', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'female', 'male', 'male', 'female', 'female',
       'female', 'male', 'male', 'female', 'female', 'female', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'female', 'male', 'female', 'female', 'female',
       'male', 'female', 'female', 'male', 'female', 'male', 'female',
       'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'male', 'female', 'male',
       'male', 'male', 'female', 'female', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'female', 'female', 'male', 'male', 'female',
       'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male',
       'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'male', 'female', 'male', 'female', 'male', 'female', 'female',
       'female', 'male', 'female', 'male', 'male', 'female', 'female',
       'male', 'female', 'female', 'female', 'male', 'male', 'male',
       'female', 'male', 'male', 'male', 'female', 'male', 'female',
       'female', 'male', 'female', 'male', 'female', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'female',
       'male', 'male', 'female', 'female', 'female', 'male', 'female',
       'male', 'female', 'male', 'female', 'male', 'female', 'male',
       'male', 'male', 'female', 'female', 'male', 'male', 'male', 'male',
       'male', 'male', 'male', 'female', 'female', 'male', 'male',
       'female', 'male', 'male', 'male', 'male', 'female', 'female',
       'female', 'male', 'female', 'female', 'male', 'female', 'male',
       'male', 'male', 'female', 'male', 'female', 'female', 'male',
       'male', 'female', 'male', 'male', 'female', 'female', 'male',
       'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'female',
       'male', 'male', 'female', 'female', 'male', 'male', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'female', 'female', 'male',
       'male', 'female', 'female', 'female', 'male', 'female', 'female',
       'female', 'male', 'male', 'female', 'female', 'male', 'male',
       'male', 'male', 'male', 'male', 'male', 'female', 'male', 'female',
       'male', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'female', 'male', 'male', 'male', 'male', 'male',
       'female', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'female', 'female', 'female', 'male', 'male',
       'male', 'male', 'male', 'female', 'male', 'male', 'female', 'male',
       'female', 'female', 'male', 'male', 'male', 'male', 'female',
       'male', 'male', 'male', 'male', 'female', 'female', 'female',
       'male', 'female', 'male', 'female', 'male', 'male', 'male', 'male',
       'male', 'female', 'female', 'female', 'female', 'female', 'male',
       'male', 'male', 'male', 'female', 'male', 'male', 'female',
       'female', 'male', 'male', 'female', 'male', 'male', 'male', 'male',
       'female', 'female', 'female', 'male', 'male', 'female', 'male',
       'male', 'male', 'male', 'female', 'male', 'female', 'male', 'male',
       'female', 'male', 'male', 'female', 'male', 'female', 'female',
       'male', 'male', 'male', 'male', 'female', 'male', 'female',
       'female', 'female'], dtype=object)

In [5]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_pred,y_test))

0.9290220820189274

In [6]:
# 2. Buatlah model klasfikasi Multinomial Naive Bayes dengan ketentuan,
#    1. Menggunakan data `spam.csv`
#    2. Fitur `CountVectorizer` dengan mengaktifkan **stop_words**
#    3. Evaluasi hasilnya

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

data2 = pd.read_csv('spam.csv', encoding='latin-1')
data2 = data2.drop(data2.iloc[:,2:], axis=1)
data2.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
new_cols = {
    'v1': 'Labels',
    'v2': 'SMS'
}

# Rename nama kolom v1 dan v2
data2 = data2.rename(columns=new_cols)

# cek data
data2.head()

  Labels                                                SMS
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
# Data untuk label
new_labels = {
    'spam': 1,
    'ham': 0
}

# Encode label
data2['Labels'] = data2['Labels'].map(new_labels)

# Cek data
data2.head()

   Labels                                                SMS
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [9]:
x = data2['SMS'].values
y = data2['Labels'].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Menggunakan CountVectorizer untuk mengonversi teks menjadi representasi
# numerik yang dapat digunakan oleh model Naive Bayes.
# Aktifkan stop_words untuk menghilangkan kata-kata umum (stop words).
vectorizer = CountVectorizer(stop_words='english')
x_train_vectorized = vectorizer.fit_transform(x_train)
x_test_vectorized = vectorizer.transform(x_test)

nb_model = MultinomialNB()
nb_model.fit(x_train_vectorized, y_train)

# Prediksi pada data uji
y_pred = nb_model.predict(x_test_vectorized)

# Menghitung akurasi
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

# Menampilkan laporan klasifikasi
print("\nLaporan Klasifikasi:")
print(classification_report(y_test, y_pred))

# Menampilkan matriks konfusi
print("\nMatriks Konfusi:")
print(confusion_matrix(y_test, y_pred))

Akurasi: 0.9838565022421525

Laporan Klasifikasi:
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       965
           1       0.96      0.92      0.94       150

    accuracy                           0.98      1115
   macro avg       0.97      0.96      0.96      1115
weighted avg       0.98      0.98      0.98      1115


Matriks Konfusi:
[[959   6]
 [ 12 138]]

In [10]:
# 3. Buatlah model klasfikasi Multinomial Naive Bayes dengan ketentuan,
#    1. Menggunakan data `spam.csv`
#    2. Fitur `TF-IDF` dengan mengaktifkan **stop_words**
#    3. Evaluasi hasilnya dan bandingkan dengan hasil pada Tugas no 2.
#    4. Berikan kesimpulan fitur mana yang terbaik pada kasus data `spam.csv`

from sklearn.feature_extraction.text import TfidfVectorizer

# Menggunakan TF-IDF Vectorizer untuk mengonversi teks menjadi representasi
# TF-IDF numerik yang dapat digunakan oleh model Naive Bayes.
tfidf_vectorizer = TfidfVectorizer(stop_words='english')
x_train_tfidf = tfidf_vectorizer.fit_transform(x_train)
x_test_tfidf = tfidf_vectorizer.transform(x_test)

# latih model yang diatas
nb_model2 = MultinomialNB()
nb_model2.fit(x_train_tfidf, y_train)

# Prediksi pada data uji
y_pred_tfidf = nb_model.predict(x_test_tfidf)

# Menghitung akurasi
accuracy_tfidf = accuracy_score(y_test, y_pred_tfidf)
print("Akurasi dengan TF-IDF:", accuracy_tfidf)

# Menampilkan laporan klasifikasi
print("\nLaporan Klasifikasi dengan TF-IDF:")
print(classification_report(y_test, y_pred_tfidf))

# Menampilkan matriks konfusi
print("\nMatriks Konfusi dengan TF-IDF:")
print(confusion_matrix(y_test, y_pred_tfidf))

Akurasi dengan TF-IDF: 0.97847533632287

Laporan Klasifikasi dengan TF-IDF:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99       965
           1       0.97      0.87      0.92       150

    accuracy                           0.98      1115
   macro avg       0.97      0.93      0.95      1115
weighted avg       0.98      0.98      0.98      1115


Matriks Konfusi dengan TF-IDF:
[[961   4]
 [ 20 130]]