In [2]:
pip install pandas #menginstal pustaka pandas

^C
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Downloading pandas-2.1.0-cp311-cp311-win_amd64.whl (11.0 MB)
     ---------------------------------------- 11.0/11.0 MB 5.5 MB/s eta 0:00:00
Collecting numpy>=1.23.2
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
     ---------------------------------------- 15.5/15.5 MB 5.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bima\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.5/502.5 kB 7.9 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ------------------------------------- 341.8/341.8 kB 20.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\bima\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.1.0 pytz-2023.3.post1 tzdata-2023.3

Langkah 1 - Load Data

In [4]:
import pandas as pd 
# mengimpor pustaka pandas dan inisial "pd" untuk proses pemanggilan

data = 'Titanic-Dataset.csv' # path dataset
# pendefinisian variable dengan nama 'Titanic-Dataset.csv' 

df = pd.read_csv(data) # load dataset
# membaca dataset dari file CSV yang sudah didefinisikan

df.head()
# menampilkan beberapa baris pertama dari DataFrame
# "head()" => mengambil lima baris pertama secara default

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Langkah 2 Pengecekan Data

In [5]:
df.info()
# memberikan informasi rinci tentang DataFrame "df"
# ringkasan singkat tentang struktur dan isinya

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
df.isnull().sum()
# menghitung jumlah nilai-nilai yang hilang (NaN) dalam setiap kolom dalam DataFrame "df"
# df.isnull() => menghasilkan DataFrame boolean yang menunjukkan posisi dan nilai yang hilang
# sum() => menjumlahkan nilai True dalam DataFrame boolean

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Langkah 3 - Imputasi

In [7]:
# Age - mean
df['Age'].fillna(value=df['Age'].mean(), inplace=True)

# Cabin - "DECK"
df['Cabin'].fillna(value="DECK", inplace=True)

# Embarked - modus
df['Embarked'].fillna(value=df['Embarked'].mode, inplace=True)

# mengisi nilai-nilai yang hilang dalam kolom-kolom tertentu dalam DataFrame 'df' dengan nilai tertentu.
# fillna => metode untuk mengisi kekosongan
    # menghitung rumus "df['Age'].mean()" (rata rata kolom)
    # menggantikan kolom 'Cabin' dengan string "DECK".
    # mengisi kolom 'Embarked' dengan nilai modusnya
    
# Parameter inplace=True => mengisi DataFrame 'df', otomatis diperbarui dengan nilai sesuai metode

Langkah 4 - Validasi Hasil

In [8]:
df.info()
# memberikan informasi rinci tentang DataFrame "df"
# ringkasan singkat tentang struktur dan isinya

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        891 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB